<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Vnecoms_VendorsSales:etc/menu.xsd">
    <menu>    	
    	<add id="Vnecoms_VendorsMessage::messages" icon="fa fa-envelope" title="Messages" module="Vnecoms_VendorsMessage" action="message" sortOrder="90" resource="Vnecoms_VendorsMessage::sales" dependsOnModule="Vnecoms_VendorsMessage" />
    </menu>
</config>