<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Vnecoms_VendorsMessage::message" title="Message" sortOrder="30">
                    <resource id="Vnecoms_VendorsMessage::manage_message" title="Manage Messages" sortOrder="1"></resource>
                    <resource id="Vnecoms_VendorsMessage::manage_warning" title="Message Warning" sortOrder="2"></resource>
                    <resource id="Vnecoms_VendorsMessage::message_pattern" title="Message Pattern" sortOrder="3"></resource>
                    <resource id="Vnecoms_VendorsMessage::block_list" title="Block List" sortOrder="4"></resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
