<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendors>
        	<vendorsmessage>
        		<new_message_notification>vendors_vendorsmessage_new_message_notification</new_message_notification>
        		<sender_email_identity>general</sender_email_identity>
        	</vendorsmessage>
       	</vendors>
    </default>
</config>
